CREATE TABLE IF NOT EXISTS public.unit_conversions ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), raw_material_id UUID NOT NULL REFERENCES public.raw_materials(id) ON DELETE CASCADE, from_unit TEXT NOT NULL, to_unit TEXT NOT NULL, conversion_rate NUMERIC(12,4) NOT NULL, created_at TIMESTAMPTZ NOT NULL DEFAULT now(), updated_at TIMESTAMPTZ NOT NULL DEFAULT now()); ALTER TABLE public.unit_conversions ENABLE ROW LEVEL SECURITY; CREATE POLICY "Admin can manage conversions" ON public.unit_conversions FOR ALL TO authenticated USING (public.has_role(auth.uid(), 'super_admin'::app_role) OR public.has_role(auth.uid(), 'manager'::app_role)); CREATE POLICY "Staff can view conversions" ON public.unit_conversions FOR SELECT TO authenticated USING (auth.role() = 'authenticated'); NOTIFY pgrst, 'reload schema';
